<ion-view title="Register" class="background_bg">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">    
                <label class="item item-input">
                    <input type="number" placeholder="Enter your Cellphone number" ng-model="data.phone">
                </label>
            <br /><br />
            <button ng-click="valid(data)" class="button button-positive">Next</button>
            <a href="#/log-in" class="button button-positive">Cancel</a>
        </form>
    </ion-content>
</ion-view>