<ion-view title="Register" class="background_bg">
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="data.firstname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="data.lastname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Minimum of 6 characters" ng-model="data.password">
                </label>
            <br />
            <button ng-click="register(data)" class="button button-block button-positive">Register</button>
            <a href="#/log-in" class="button button-block button-positive">Cancel</a>
        </form>
    </ion-content>
</ion-view>